{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS 교육정보 개방 포털 API",
    "description": "NEIS에서 제공하는 학교기본정보 및 급식식단정보 조회 API 명세입니다.",
    "version": "1.0.0",
    "license": {
      "name": "공공누리 제1유형",
      "url": "https://www.kogl.or.kr/info/licenseType1.do"
    }
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS 교육정보 개방 포털"
    }
  ],
  "tags": [
    {
      "name": "School",
      "description": "학교 기본 정보"
    },
    {
      "name": "Meal",
      "description": "학교 급식 식단 정보"
    }
  ],
  "security": [
    {
      "NeisApiKey": []
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "tags": [
          "School"
        ],
        "summary": "학교 기본 정보 조회",
        "description": "학교명, 학교 종류, 소재지, 설립 유형 등의 조건으로 학교 기본 정보를 조회합니다.",
        "operationId": "getSchoolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "학교를 관리하는 시도교육청 기관코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "각급 기관의 행정업무에 사용하는 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교의 명칭",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교의 종류",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교가 소속된 시도교육청이 위치한 시도명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교의 설립주체에 따른 구분",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "학교 기본 정보 조회 성공 또는 NEIS API 처리 결과",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SchoolInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisErrorResponse"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SchoolInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "tags": [
          "Meal"
        ],
        "summary": "급식 식단 정보 조회",
        "description": "학교와 급식일 또는 기간을 기준으로 급식 식단 정보를 조회합니다.",
        "operationId": "getMealServiceDietInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "학교의 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260817"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식 조회 시작일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260801"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식 조회 종료일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260831"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "급식 식단 정보 조회 성공 또는 NEIS API 처리 결과",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisErrorResponse"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                    },
                    {
                      "$ref": "#/components/schemas/NeisErrorResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "NeisApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "Key",
        "description": "NEIS 교육정보 개방 포털에서 발급한 인증키"
      }
    },
    "parameters": {
      "Key": {
        "name": "Key",
        "in": "query",
        "required": true,
        "description": "NEIS API 인증키. 발급받지 않은 경우 sample 키를 사용할 수 있습니다.",
        "schema": {
          "type": "string",
          "default": "sample"
        }
      },
      "Type": {
        "name": "Type",
        "in": "query",
        "required": true,
        "description": "응답 문서 형식",
        "schema": {
          "type": "string",
          "enum": [
            "xml",
            "json"
          ],
          "default": "json"
        }
      },
      "PIndex": {
        "name": "pIndex",
        "in": "query",
        "required": true,
        "description": "조회할 페이지 위치. sample 키를 사용하면 1로 고정됩니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PSize": {
        "name": "pSize",
        "in": "query",
        "required": true,
        "description": "페이지당 요청 건수. 최대 1,000건이며 sample 키를 사용하면 5로 고정됩니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "필수 값 누락 또는 요청 인자 형식 오류",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "유효하지 않거나 사용이 제한된 인증키",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "서비스 또는 요청한 데이터가 없음",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "일별 트래픽 제한 초과",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "NEIS 서버 또는 SQL 처리 오류",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "데이터베이스 연결 오류",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NeisErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "NeisResult": {
        "type": "object",
        "description": "NEIS API 처리 결과",
        "required": [
          "CODE",
          "MESSAGE"
        ],
        "properties": {
          "CODE": {
            "type": "string",
            "description": "처리 결과 코드",
            "enum": [
              "000",
              "100",
              "200",
              "290",
              "300",
              "310",
              "333",
              "336",
              "337",
              "500",
              "600",
              "601"
            ]
          },
          "MESSAGE": {
            "type": "string",
            "description": "처리 결과 설명"
          }
        }
      },
      "NeisErrorResponse": {
        "type": "object",
        "description": "NEIS API 오류 응답",
        "required": [
          "RESULT"
        ],
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/NeisResult"
          }
        },
        "xml": {
          "name": "RESULT"
        }
      },
      "NeisHead": {
        "type": "array",
        "description": "전체 건수와 처리 결과를 포함하는 응답 헤더",
        "items": {
          "oneOf": [
            {
              "type": "object",
              "required": [
                "list_total_count"
              ],
              "properties": {
                "list_total_count": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "조회 조건에 해당하는 전체 데이터 건수"
                }
              }
            },
            {
              "type": "object",
              "required": [
                "RESULT"
              ],
              "properties": {
                "RESULT": {
                  "$ref": "#/components/schemas/NeisResult"
                }
              }
            }
          ]
        }
      },
      "SchoolInfoResponse": {
        "type": "object",
        "required": [
          "schoolInfo"
        ],
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "head"
                  ],
                  "properties": {
                    "head": {
                      "$ref": "#/components/schemas/NeisHead"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "row"
                  ],
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SchoolInfo"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "xml": {
          "name": "schoolInfo"
        }
      },
      "SchoolInfo": {
        "type": "object",
        "description": "학교 기본 정보",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "description": "대표 전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "description": "홈페이지 주소"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "description": "대표 팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "description": "고등학교구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "description": "주야구분명"
          },
          "FOND_YMD": {
            "type": "string",
            "description": "설립일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "description": "개교기념일(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "정보 수정 및 저장 일자"
          }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "required": [
          "mealServiceDietInfo"
        ],
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "head"
                  ],
                  "properties": {
                    "head": {
                      "$ref": "#/components/schemas/NeisHead"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "row"
                  ],
                  "properties": {
                    "row": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MealServiceDietInfo"
                      }
                    }
                  }
                }
              ]
            }
          }
        },
        "xml": {
          "name": "mealServiceDietInfo"
        }
      },
      "MealServiceDietInfo": {
        "type": "object",
        "description": "급식 식단 정보",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM",
          "MMEAL_SC_CODE",
          "MMEAL_SC_NM",
          "MLSV_YMD",
          "DDISH_NM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사명"
          },
          "MLSV_YMD": {
            "type": "string",
            "description": "급식일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "MLSV_FGR": {
            "type": "string",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "description": "급식시작일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "description": "급식종료일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "적재일시"
          }
        }
      }
    }
  }
}
